<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Club</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>

<header>
    <div class="content-title">
        <div class="col-one">
            <h1>Book Club</h1>
            <h2>All bookworms welcome!</h2>
        </div>
        <div class="col-two">
            <img src="images/bookTreeLogo.png" alt="book-tree-logo" class="logo-img">
        </div>
    </div>
</header>