<%- include("partials/header.ejs") %>
 
<body>
    <div class="content-title">
        <h1>Book Club</h1>
        <h2>All bookworms welcome!</h2>
    </div>

    <div class="content-card">
        <h3 class="h3-title">Update a Review</h3>
        <form action="/save" method="POST">
            <input type="hidden" name="postIndex" value="<%= postIndex %>">
            <textarea name="bookReview" rows="4" cols="50" required><%= postText %></textarea>
            <br>
            <p>(Max. num of characters: 2000)</p>
            <input class="submitBtn" type="submit" value="Save">
        </form>
    </div>

<%- include("partials/footer.ejs") %>