<%- include("partials/header.ejs") %>

<body>

    <h1>Book Club</h1>
    
    <h2>Update a Review</h2>

    <form action="/save" method="POST">
        <p><label for="updatebookreview">Update your book review below:</label></p>
        <input type="hidden" name="postIndex" value="<%= postIndex %>">
        <textarea name="bookReview" rows="4" cols="50"><%= postText %></textarea>
        <br>
        <p>(Max. num of characters: 2000)</p>
        <input type="submit" value="Save">
    </form>


<%- include("partials/footer.ejs") %>