html {
    background-color: #FDF8F7;
    
    position: relative;

    color: #593724;
    text-align: left;
}

/* First wave (lighter) */
html::before {
  content: "";
  position: absolute;
  
  left: -25%;
  width: 150%;
  height: 50vh;
  
  background-color: #F9E0D4; 
  
  border-radius: 0 0 100% 100%;
  
  z-index: 1; /* Sits behind content-card, but on top of the second wave */
}

/* Second wave (darker) */
html::after {
  content: "";
  position: absolute;
  
  top: 170px;
  left: -25%;
  
  width: 150%;
  height: 50vh;
  
  background-color: #F2C1AB;
  
  border-radius: 0 0 100% 100%;
  
  z-index: 0; /* Sits at the back */
}

/* Header and body */
.content-card {
  position: relative;
  z-index: 2;
  
  margin: 10px 100px 20px 100px;
  background: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(123, 110, 110, 0.1);

  text-align: justify;
}

.content-title {
    position: relative;
    z-index: 2;

    margin: 20px 100px 0px 100px;
    padding: 50px; 
}

body {
     margin: 0px;
}

footer {
    margin: 30px 100px 0px 100px;
    padding-left: 20px;
}

footer > p{
    margin-left: 20px;
}

h1 {
    font-size: 100px;
    margin: 0px;

    font-family: 'Orange Avenue Outline', serif;
}

h2 {
    margin-bottom: 0px;
    
    font-family: 'Orange Avenue', serif;
}

h3 {
    font-family: 'Orange Avenue', serif;
}

p {
    font-family: 'Open Sans';
}

a {
    color: #b17958;
}

.h3-title {
    margin-top: 0px;
}

.myReviews-title {
    margin-top: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.colummn {
    flex: 1;
}

.column.two {
    margin-right: 50px;
}

.star {
    height: 15px;
}

#new-post {
    margin-top: 50px;
}

.submitBtn {
    border-radius: 7px;
    border: 1px solid #F2C1AB;
    
    font-family: 'Open Sans';
    color: inherit;
    font-size: 15px;
    
    background-color: #F9E0D4;
    height: 30px;
    width: 95px;

    cursor: default;
}

.submitBtn:hover {
      background-color: #F2C1AB;
      transition: 0.2s;
  }

.submitBtn:active {
    background-color: #c09987;
}

.button-container {
    display: flex;
    gap: 5px;
}

.bookReview {
    background-color: rgb(248, 245, 245);
    border-radius: 5px;
    padding: 5px;
}

.reviewDate {
    color: #8c7465;
}

@font-face {
  font-family: 'Orange Avenue';
  src: url('/fonts/OrangeAvenueDEMO-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orange Avenue Outline';
  src: url('/fonts/OrangeAvenueOutlineDEMO-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}